<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>922588777398-geqe9seag2mrjacsbf7hodoiclohsrhl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.922588777398-geqe9seag2mrjacsbf7hodoiclohsrhl</string>
	<key>API_KEY</key>
	<string>AIzaSyAlbxg142IUE4SHrkgHmczUjKDLxvmgKqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>922588777398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appbrewery.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-a622a</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-a622a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922588777398:ios:dbe4367cf3d9a02c3ecf17</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-a622a.firebaseio.com</string>
</dict>
</plist>